.container > .stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  gap: 12px;
}
.container > .stats > div {
  flex-grow: 1;
  flex-basis: 200px;
  border: 2px solid #999;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px #666;
  transition: 0.25s ease all;
}
.container > .stats > div:hover {
  transform: scale(1.02);
}
.container > .stats > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.container > .stats > div > div > p {
  font-weight: 500;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  color: #777;
}
.container > .stats > div > div > span {
  padding: 4px;
  font-size: 10px;
  opacity: 0.8;
  border-radius: 5px;
  color: #eee;
}
.container > .stats > div > h4 {
  font-size: 20px;
}

.graphs {
  display: flex;
  gap: 15px;
}
@media (max-width: 776px) {
  .graphs {
    flex-direction: column;
  }
  .graphs > div {
    width: 100% !important;
  }
}
.mainContainer table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.mainContainer table thead tr {
  background-color: #4f46e5;
  color: #eee;
}
.mainContainer table thead tr th,
.mainContainer table tbody tr td {
  padding: 10px;
  border: 1px solid #ddd;
}
